.about{
    width:100%;
    height:100vh;
    margin-top: 100vh;
    background-color: #F4F5F7;
    position: relative;

    & .about__inner{
        height:100%;
    }
    & .about__body{
        height:100%;
        width:100%;
    }
}

.about__title{
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;

    @media screen and(max-width:900px) {
        font-size: 2.5rem;
    }
}


.about__profile{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img{
        width:20%;
        height:30%;
        border-radius: 50%;

        @media screen and(max-width:900px) {
            width:30%;
        }
    }

    & .about__me{
        @media screen and(max-width:900px) {
            font-size: .8rem;
            width:80%;
        }
        & th{
            padding-top: 20px;
        }

        & td{
            padding-top: 20px;
            padding-left: 50px;
        }
    }
   
}