.skill{
    width:100%;
    height:100vh;
    background-color: black;
    opacity: 80%;
    position: relative;

    &__body{
        height:85%;
        width:100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media screen and(max-width:900px) {
            flex-wrap: wrap;
        }
    }

    &__feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        opacity: 1;
        width:20%;
        height:40%;
        border-radius: 20px;

        @media screen and(max-width:900px) {
            flex-basis: 45%;
            height:35%;
        }

        & > img{
            width:100px;
            height: 100px;
            display: block;
        }

        & > h3{
            text-align: center;
        }
    }
}

.skill__title{
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    color:white;

    @media screen and(max-width:900px) {
        font-size: 2.5rem;
    }
}
