.top__body{
    transition: opacity 0.4s;
    height:100vh;
    
    & .top__textarea{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    
        & .top__title{
            font-size: 8rem;

            @media screen and(max-width:600px) {
                font-size: 5.8rem;
            }
        }

        & .top__sub-title{
            font-size: 1.5rem;
            @media screen and(max-width:600px) {
                font-size: 1rem; 
            }
        }
    }
    
    & .top__scroll{
        position: absolute;
        bottom:5%;
        left:50%;
    
        & span{
            position: absolute;
            left:10px;
            bottom:10px;
            /*テキストの形状*/
            color: black;
            font-size: 0.7rem;
            letter-spacing: 0.05em;
            /*縦書き設定*/
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }
    
        &::before{
            content: "";
            /*描画位置*/
            position: absolute;
            bottom:0;
            left:-4px;
            /*丸の形状*/
            width:10px;
            height:10px;
            border-radius: 50%;
            background:black;
            /*丸の動き1.6秒かけて透過し、永遠にループ*/
            animation:
                circlemove 1.6s ease-in-out infinite,
                cirlemovehide 1.6s ease-out infinite;
        }
    
        &::after{
            content:"";
            /*描画位置*/
            position: absolute;
            bottom:0;
            left:0;
            /*線の形状*/
            width:2px;
            height: 50px;
            background:black;
        }
    
    
    }

    &.open{
        opacity:0;
    }
}


/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}
