
.works{
    width:100%;
    height:100vh;
    background-color: #F4F5F7;
    position: relative;

    & .works__body{
        display: flex;
        height:100%;
        align-items: center;
        justify-content: center;

        @media screen and(max-width:900px) {
            flex-direction: column;
        }

        & .works__left{
            width:40%;

            @media screen and(max-width:900px) {
                width:80%;
                font-size: .8rem;
            }
        }

        & .works__right{
            width:50%;

            @media screen and(max-width:900px) {
                width:80%;
            }

            & .swiper-slide > a > img{
                width:100%;
                height:80%;
                object-fit: cover; 
            }

            & .swiper-slide{
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    transition: background-color 0.3s ease;
                    pointer-events: none;

                    animation: kf-img-show 1.6s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: none;
                }
                &:hover::before {
                background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.works__title{
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;

    @media screen and(max-width:900px) {
        font-size: 2.5rem;
    }
}
.works__detail{
    text-align: center;
    padding-top: 10px;
}


@keyframes kf-img-show {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    50.1% {
      opacity: 1;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
    }
  }
  

